@page "/contact"

<PageTitle>Contact</PageTitle>

<img src="../img-banner/banner-lienhe.jpg" width="100%" style="margin-top:-100px;">
<div class="profile-menu"><i class="fa fa-home"> </i>
    <a href="" class="h3" style=" color:rgb(30, 90, 94)" onclick="trangchinh()"> Trang Chủ /</a><a href="/contact" class="h3" style="color: cadetblue"> Liên Hệ </a> </div>
<div style="margin-left: 10%; margin-bottom:5%">
    <ul>
        <h4 style="text-align: left;padding-top: 2%;"> ĐỊA CHỈ CỬA HÀNG TP. HỒ CHÍ MINH </h4>
        <br>
        <p style="color:black;padding-right: 15%;"> Mở cửa: 8h30 - 17h30 (Chiều T7 và CN nghỉ)	 </p>
        <p style="color:black;padding-right: 15%;"> Số 273 An dương Vương, Phường 3, Quận 5, Hồ Chí Minh (Để được phục vụ tốt hơn quý khách vui lòng gọi trước khi đến) </p>
    </ul>
</div>