@page "/guarantee"
<PageTitle>Guarantee</PageTitle>

<img src="../img-banner/banner-suachua.jpg" width="100%" style="margin-top:-100px;">
<div class="profile-menu">
    <i class="fa fa-home">
    </i><a href="" class="h3" style=" color:rgb(30, 90, 94)" onclick="trangchinh()"> Trang Chủ /</a>
    <a href="/guarantee" class="h3" style="color: cadetblue"> Sữa Chữa </a>
</div>
<br>
<br>
<div style="margin-left: 10%; margin-bottom:5%">
    <ul>
        <h4 style="text-align: left;padding-top: 2%;"> KÍNH CHÀO QUÍ KHÁCH ! </h4>
        <br>
        <li style="padding-right: 15%; padding-top: 1%;font-size: 15px; text-align: justify;"> Ngày nay, Máy ảnh là một sản phẩm công nghệ rất gần gủi với mọi người. Chúng ta đều mong muốn sở hữu chiếc máy ảnh " đẳng cấp" và tính ổn định cao. Tuy nhiên, trong quá trình sử dụng, sẽ rất khó tránh khỏi những trường hợp hỏng hóc do va chạm, bảo quản không đúng cách, vệ sinh không đúng phương pháp. Với đội ngũ kỹ thuật viện được đào tạo chuyên sâu, giàu kinh nghiệm, tác phong làm việc chuyên nghiệp, chúng tôi tự hào có thể sửa chữa mọi hư hỏng cho chiếc Máy ảnh của bạn.</li>
        <li style="padding-right: 15%; padding-top: 1%;font-size: 15px; text-align: justify;"> Đến với trung tâm sửa chữa Máy ảnh của <b style="font-size: 16px; color: rgb(255, 136, 0);"> Gold Duck Camera </b>, bạn có thể an tâm gửi chiếc Máy ảnh của mình vào sửa vì chúng tôi cam kết tất cả các linh kiện, phụ kiện trên chiếc Máy ảnh của bạn sẽ được xác nhận chữ ký (tránh bị đổi đồ, bị "luộc"), được bảo vệ cẩn thận, lựa chọn phương pháp sửa chữa , thay thế phù hợp nhất. </li>
        <li style="padding-right: 15%; padding-top: 1%;font-size: 15px; text-align: justify;"> Đến với trung tâm sửa chữa Máy ảnh của <b style="font-size: 16px; color: rgb(255, 136, 0);"> Gold Duck Camera  </b>, bạn có thể an tâm gửi chiếc Máy ảnh của mình vào sửa vì chúng tôi cam kết tất cả các linh kiện, phụ kiện trên chiếc Máy ảnh của bạn sẽ được xác nhận chữ ký (tránh bị đổi đồ, bị "luộc"), được bảo vệ cẩn thận, lựa chọn phương pháp sửa chữa , thay thế phù hợp nhất. </li>
    </ul>
</div>