@page "/"


<PageTitle>Gold Duck Camera</PageTitle>

<div class="page1">
    <!-- Banner -->
    <!-- Body Content -->
    <div class="section-introduction mt-0">
        <!-- Giới Thiệu Sản Phẩm -->
        <h2 class="title"> SẢN PHẨM NỔI TRỘI </h2>
        <div class="section-row">
            <div class="section-clo">
                <img src="../img-icon/icon-mayanh.jpg" alt="Hello Duck" width="140" height="140">
                <h2> Máy Ảnh </h2>
                <p> Lựa chọn máy ảnh phù hợp với bạn. Nếu các bạn chưa biết sản phẩm nào phù hợp thì chúng tôi sẽ giúp bạn.</p>
                <div class="section-intro-button"><a href="camera"> Xem Thêm &raquo;</a></div>
            </div>
            <div class="section-clo">
                <img src="../img-icon/icon-mayquay.png" alt="Hello duck" width="140" height="140">
                <h2> Máy Quay </h2>
                <p> Cuộc đời là đoạn phim đầy quý giá. Vì vậy phải lưu lại đoạn phim ấy bằng những máy quay tuyệt đỉnh của chúng tôi. </p>
                <div class="section-intro-button"> <a href="videocam">Xem Thêm &raquo;</a></div>
            </div>
            <div class="section-clo">
                <img src="../img-icon/icon-phukien.png" alt="Hello Duck" width="140" height="140">
                <h2> Phụ Kiện </h2>
                <p> Hãy giúp máy ảnh, máy quay của bạn hoàn hảo thêm với những phụ kiện đặc sắc và chất lượng nhé.</p>
                <div class="section-intro-button"><a href="accessories">Xem Thêm &raquo;</a></div>
            </div>
        </div>
    </div>
    <!-- Break Line -->
    <hr>

    <div class="section-mid">
        <!-- Giới Thiệu Máy Ảnh -->
        <div class="section-row">
            <div style="margin-left: 10%; ">
                <img class="section-mid-img" src="../img-banner/mayanh-gioithieu.jpg" width="400px" height="400px" alt="Generic placeholder image">
            </div>
            <div style="margin-right: 10%; padding-left: 5%;">
                <h2> Máy ảnh tuyệt đỉnh. Hình ảnh tuyệt đẹp.</h2>
                <p style="text-align: justify;"> Xứng tầm cột mốc mới, mở ra tầm nhìn nhiếp ảnh vượt trội, mang đến khả năng biểu đạt từng chi tiết ở đẳng cấp chuyên nghiệp với tốc độ bắt nét cực nhanh đến kinh ngạc trong thân máy nhỏ gọn. Độ cứng cáp với khả năng kết nối xuất sắc tăng thêm hiệu suất cho bạn. </p>
            </div>

        </div>

        <!-- Break Line -->
        <!-- Giới Thiệu Máy Quay -->
        <div class="section-row">
            <div style="margin-left: 10%; text-align: justify;">
                <h2> Lưu lại những thước phim. Tạo nên nhiều kỉ niệm đáng nhớ. </h2>
                <p> Thân máy nhỏ gọn, tích hợp mọi tính năng để mang lại những thước phim tuyệt đẹp. kèm theo khả năng lấy nét siêu nhanh. Tính năng theo dõi trong thời gian thực và lấy nét tự động theo ánh mắt. Chất lượng âm thanh bắt âm thanh cực xa.</p>
            </div>
            <div style="margin-right: 10%; padding-left: 5%;text-align: justify;">
                <img class="section-mid-img" src="../img-banner/mayquay-gioithieu.jpg" width="400px" height="400px" alt="Generic placeholder image">
            </div>
        </div>

        <!-- Break Line -->
        <!-- Giới Thiệu Phụ Kiện -->
        <div class="section-row">
            <div style="margin-left: 10%;">
                <img class="section-mid-img" src="../img-banner/phukien-gioithieu.jpg" width="400px" height="400px" alt="Generic placeholder image">
            </div>
            <div style="margin-right: 10%; padding-left: 5%;text-align: justify;">
                <h2> Phụ kiện tuyệt vời.Tạo nên thiết bị hoàn hảo.</h2>
                <p> Có rất nhiều phụ kiện cho để bạn lựa chọn. Giúp cho thiết bị của bạn thêm phần chuyên nghiệp, khiến độ zoom cực xa cực kì sắc nét. Làm cho thiết bị của bạn an toàn, kéo dài thời gian sử dụng. Để bạn làm chủ mọi khoảng khắc trong cuộc đời.</p>
            </div>

        </div>
    </div>
    <hr>
</div>
@code{
     
}