.admin-container {
  padding-right: 5%;
  padding-left: 5%;
  margin-right: auto;
  margin-left: auto;
}

.admin-h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 50;
  color: #3f0a0a;
  line-height: 1.2;
}

.admin-table-bordered {
  border: 1px solid #dee2e6;
}
.admin-table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.admin-table-bordered thead td,
.admin-table-bordered thead th {
  border-bottom-width: 2px;
}
.admin-table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #171717;
  text-align: inherit;
  text-align: center;
}
.admin-table-bordered td,
.admin-table-bordered th {
  border: 1px solid #575858;
}
.admin-table td,
.admin-table th {
  padding: 1.0rem;
  vertical-align: top;
  font-size: 11px;
  border-top: 1px solid #575858;
}

.admin-table td a {
  margin-bottom: 8px;
}

.admin-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-group input[type=number]{
    width: 80%;                
    border: 2px solid cadetblue;
    border-radius: 16px;
    box-sizing: border-box;
}


.header {
  border: 0px;
  width : 100%;
position: fixed;
display: block;
z-index: 15;
}
.header_topbar {
  width: 100%;
  background-color: black;
  height: 50px;
  position: relative;
  top : 0;
}

.header_topbar_leftitems{
	padding-left: 3%;
	padding-top: 5px;
}
.fa{
	margin-right: 8px;
}

.fa-facebook-square:hover{
	color: rgb(115, 151, 248);
	text-decoration: none;
}

.fa-instagram:hover{
	border-radius: 30%;
	background: linear-gradient(150deg ,rgb(28, 28, 236),rgb(218, 115, 31),red);
	text-decoration: none;
}

.fa-snapchat-ghost:hover{
	color: yellow;
	text-decoration: none;
}

.fa-youtube-play:hover{
	color: red;
	text-decoration: none;
}
.fa-twitter:hover {
	color: rgb(105, 221, 241);
	text-decoration: none;
}

.header_topbar_content pre{
  color: yellow;
font-family: futura-pt,-apple-system,blinkmacsystemfont,Segoe UI,roboto,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
font-size: 20px;
font-weight: 500;
line-height: 22px;
position: absolute;
left: 41%;
top: 12px;
}
.logo {
  display: block;
position: absolute;
left: 15%;
top: 50%;
}

.logo img{
border-radius: 100%;
}

.Search_Bar {
position: absolute;
top: 11px;
right: 11%;
background-color:rgba(116, 112, 112, 0.3); 
height: 27px;
border-radius: 27px;
font-family: consolas;
z-index: 2;
}


.Search-txt {
border: none;
background: none;
outline: none;
float: left;
padding: 0;
color: #fcfcfc;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
transition: 0.4s;
line-height: 25px;
width: 0px;
font-weight: bold;
align-items: center;
}

.Search_Bar a img {
padding: 0;
border-radius: 35%;
}

.Search_Bar:hover > .Search-txt {
width: 300px;
padding-left: 20px;
}

.Search-btn {
color: #e84118;
float: right;
width: 27px;
height: 27px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: 0.4s;
color: white;
cursor: pointer;

}

.Search_Bar:hover > .Search-btn {
background-color:rgba(116, 112, 112, 0.3); 
}

.Search-btn > img {
padding-top: 5px;
 font-size: 16px;
}
.header_DKDN {
	position: absolute;
    top: 13px;
    right: 0.5%;
    display: flex;
    width: 160px;
    justify-content: space-evenly;
}
.Dkdn2{
	text-decoration: none;
    position: relative;
    color: #999999;
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding-right: 7px;
    padding-left: 7px;
    text-transform: uppercase;
    border-radius: 25px;
	background: rgba(255, 255, 255, 0.3);
	display: none;
}
.Dkdn2:hover{
	background-color: white;
}
.logo {
  display: block;
position: absolute;
left: 15%;
top: 50%;
}

.logo img{
border-radius: 100%;
}
#header_menu .fa{
	color: yellow;
}
.center{
  left: 35%;
  width: 30%;
}
.formDKs{
  top: 400px;
  transform: translateY(-50%);
  display: none;
  position: absolute;
  border: 4px solid rgb(118, 197, 221);
  background-color: rgba(252, 251, 249, 100%);
  border-radius: 6px;
  border-collapse: collapse;
  animation: toBottom1 0.5s linear;
  z-index: 20;
  background-color: rgb(248, 236, 236);
}
.formDKs .center > .form-groups > .a{
  display: flex;
}

.titles{
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: rgb(118, 197, 221);
}
.form-groups label,select{
  padding-right: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(2, 3, 3);
}
.form-groups {
  padding-left: 10%;
}
input{
  padding: 7px;
}
.form-groups input[type=text], input[type=password],input[type=number]{
  width: 90%;                
  border: 1px solid rgb(118, 197, 221);
  border-radius: 2px;
  box-sizing: border-box;
}
.form-groups button {
  font-size: 15px;
  border: 2px solid rgb(118, 197, 221);
  border-radius: 15%; 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.profile-form-groups button{
  font-size: 15px;
  border: 2px solid rgb(41, 44, 44);
  border-radius: 15%; 
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.Erro {
  margin-top: 5px;
  color: red;
  padding-left: 5px;
}
.cls{
  color: red;
  font-size: 3em;
  float: right;
  margin: 5px 13px 0 0 ;
}

h3.h3{
  text-align:center;
  margin:1em;
  text-transform:capitalize;
  font-size:1.7em;}

.isp{
  color:black; 
  text-align: center; 
  padding-bottom: 20px;
  font-size: 15px;
}
.section-mid-img{
  box-shadow: 10px 10px 5px #aaaaaa;
  border-radius: 10px;
}
.end{
	display: inline-table;
	margin-left: 15%;
	margin-top: 30px;
	margin-bottom: 20px;
}

.end ul li a,h6,h8 {
	color: rgb(211, 207, 207); 
	font-family: futura-pt,-apple-system,blinkmacsystemfont,Segoe UI,roboto,Helvetica Neue,arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	font-size: 15px;
}
.copyright {
	width: 100%;
	height: 20px;
	background-color: #161C27; 
	color: #A2A4A9;
}
.f-left-2 {
	color: rgb(189, 187, 187);
	margin-left: 5px;
}